[Unit]
Description=Cloudflare Tunnel
After=network-online.target ssh-mcp-server.service
Wants=network-online.target
Requires=ssh-mcp-server.service

[Service]
Type=simple
Slice=cloudflared.slice
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate run --token-file /etc/cloudflared/token
Restart=always
RestartSec=10s
StartLimitBurst=5
StartLimitIntervalSec=60
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
